.algDetailsTab {
  padding-left: 10px;
  .ant-tabs-tab-active {
    font-size:16px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(219,226,234,1) !important;
    line-height:22px;
    padding-top:8px;
    padding-bottom: 6px;
    margin-right: 24px;
    padding-left: 0;
    padding-right: 0;
  }
   .ant-tabs-tab {
      font-size:16px;
      font-family:PingFangSC-Regular;
      font-weight:400;
      color:#bebebeb5;
      line-height:22px;
      &:hover {
        color:rgba(219,226,234,1) !important;
      }
      padding-top:8px;
      padding-bottom: 6px;
      margin-right: 24px;
      padding-left: 0;
      padding-right: 0;
   }
   .ant-tabs-bar {
     border-bottom: 1px solid #262627;
   }
   .ant-tabs-ink-bar {
     background:linear-gradient(315deg,rgba(18,112,240,1) 0%,rgba(0,179,231,1) 100%);
     border-radius:1px;
   }
}
