.more-btn {
  margin-right: 0.2rem;
  padding: 0.2rem;
  cursor: pointer;
  .point {
    background: #b3b3b3;
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 0.02rem;
    margin-bottom: 0.03rem;
  }
}
