.phone-button-wrap {
  height:1.24rem;
  .phone-button{
    line-height: 1.24rem;
    text-align: center;
    font-size: 0.4rem;
    color:rgb(52,52,52);
    background:white;
    border-top:0.01rem solid #efeff4;
    cursor: pointer;
  }
}
